.sidebar{
   min-height: 100vh;
   width: 220px;
   border-right: 1px solid var(--text);
   .filters{
      padding: 10px;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      .filter{
         padding: 10px;
         .btn{
            padding: 10px;
            background-color: red;
            color: whitesmoke;
            font-weight: 800;
            border-radius: 8px;
            border: none;

         }
      }
   }
}